/* app.css */

.App {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Fill the entire background */
  background-position: center;
  min-height: 100vh; /* Set minimum height of the App to 100% viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 150%;
}

.auth-form-container {
  background-color: white;
  box-shadow: 0px 4px 80px rgba(134, 192, 150, 0.8);
  padding: 20px;
  /* Add other styles for the rectangle */
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 80px rgba(134, 192, 150, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth-form-container.register {
  background-color: white;
  box-shadow: 0px 4px 80px rgba(134, 192, 150, 0.8);
  padding: 20px;
  /* Add other styles for the rectangle */
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 80px rgba(134, 192, 150, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth-form-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 80px rgba(134, 192, 150, 0.8);
}
.auth-form-container h2 {
  text-align: center; /* Center the text horizontally */
  color:#0E5B1F;
}
.auth-form-container label{
  color: #0E5B1F;
}
.login-form label,
.login-form input,
.login-form button {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  width: 95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form .form-group {
  position: relative;
}

.login-form .form-group.focused label {
  transform: translateY(-25px) translateX(5px);
  font-size: 12px;
  color: #0E5B1F;
}

.register-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.register-link-container p {
  margin-right: 10px;
}

.register-link-btn {
  padding: 8px 15px;
  border-radius: 15px;
  background-color: #E2F3E4;
  color: #0E5B1F;
  border: 2px solid #0E5B1F;
  cursor: pointer;
}
.sign-in-btn-login{
  background-color: #0E5B1F;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #ffffff; /* Add a 2px green stroke */
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 14px 23px #075826; /* Add drop shadow */
    padding: 8px 25px;
    margin-left: 2px;
    margin-top: 22px;
}
.placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.2s ease;
  color: #999;
}

.focused .placeholder,
input:focus + .placeholder {
  top: 0;
  font-size: 12px;
  transform: translateY(-10%);
  color: #333;
}

input[type="email"],
input[type="password"] {
  /* ... existing styles ... */
}
