.register-form label,
.register-form input,
.register-form button {
  display: block;
  margin-bottom: 10px;
}

.register-form input {
    width: 80%; /* Adjust the width as desired */
    max-width: 380px; /* Adjust the max-width as desired */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.register-form .form-group {
  position: relative;
}

.register-form .form-group.focused label {
  transform: translateY(-25px) translateX(5px);
  font-size: 12px;
  color: #0E5B1F;
}

.auth-form-container h2 {
  text-align: center;
  color: #0E5B1F;
}

.auth-form-container label {
  color: #0E5B1F;
}

.auth-form-container input {
  width: 100%;
}

.register-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.register-link-container p {
  margin-right: 10px;
}

.link-btn {
  padding: 8px 15px;
  border-radius: 15px;
  background-color: #E2F3E4;
  color: #0E5B1F;
  border: 2px solid #0E5B1F;
  cursor: pointer;
}

.sign-in-btn-login {
  background-color: #0E5B1F;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 14px 23px #075826;
  padding: 8px 25px;
  margin-left: 2px;
  margin-top: 22px;
}
.login-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.login-link-container p {
  margin-right: 10px;
}

.login-link-btn {
    background-color: #0E5B1F;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #ffffff; /* Add a 2px green stroke */
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 14px 23px #075826; /* Add drop shadow */
    padding: 8px 25px;
    margin-left: 20px;
    text-decoration: none;
}
.sign-up-link{
    padding: 8px 15px;
    border-radius: 15px;
    background-color: #E2F3E4;
    color: #0E5B1F;
    border: 2px solid #0E5B1F;
    cursor: pointer;
}